{% load static %}

{% if request.resolver_match.view_name != 'common:login' %}
    <div id="menuPrincipal">
        <nav>
            <ul id="menu">
                <!-- Common links (visible to all) -->
                {% if user.is_authenticated %}
                    <li><a href="{% url 'common:home' %}">Home</a></li>
                {% else %}
                    <li><a href="{% url 'common:login' %}">Login</a></li>
                {% endif %}

                <!-- Organizer links -->
                {% if user.is_authenticated %}
                    {% if user.role == 'ORG' or user.role == 'ADM' %}
                        <li><a href="{% url 'season:list' %}">Seasons</a></li>
                    {% endif %}
                {% endif %}

            </ul>
        </nav>
    </div>
{% endif %}